/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Return {
            bindings = <&kp RET>;
            key-positions = <21 20>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
        };

        shiftR {
            bindings = <&mo 1>;
            key-positions = <39 40>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <2 1>;
        };

        shiftL {
            bindings = <&mo 1>;
            key-positions = <38 37>;
        };

        AS_Z {
            bindings = <&kp Z>;
            key-positions = <13 14>;
        };

        SD_X {
            bindings = <&kp X>;
            key-positions = <14 15>;
        };

        CV_Command {
            bindings = <&kp LEFT_COMMAND>;
            key-positions = <36 37>;
        };

        NM_Layershift {
            bindings = <&mo 1>;
            key-positions = <40 41>;
        };

        HJ_N {
            bindings = <&kp N>;
            key-positions = <18 19>;
        };

        JK_M {
            bindings = <&kp M>;
            key-positions = <19 20>;
        };

        DF_C {
            bindings = <&kp C>;
            key-positions = <15 16>;
        };

        FG_V {
            bindings = <&kp V>;
            key-positions = <16 17>;
        };

        TG_B {
            bindings = <&kp B>;
            key-positions = <17 5>;
        };

        L+EXCL_Shift {
            bindings = <&kp RIGHT_SHIFT>;
            key-positions = <21 22>;
        };
    };

    behaviors {
        H_COMMA: H_COMMA {
            compatible = "zmk,behavior-hold-tap";
            label = "H_COMMA";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <18>;
        };

        J_PERIOD: J_PERIOD {
            compatible = "zmk,behavior-hold-tap";
            label = "J_PERIOD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <19>;
        };

        K_SINQUOTE: K_SINQUOTE {
            compatible = "zmk,behavior-hold-tap";
            label = "K_SINQUOTE";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <20>;
        };

        L_DBLQUOTE: L_DBLQUOTE {
            compatible = "zmk,behavior-hold-tap";
            label = "L_DBLQUOTE";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <21>;
        };

        Q_1: Q_1 {
            compatible = "zmk,behavior-hold-tap";
            label = "Q_1";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <1>;
            tapping-term-ms = <250>;
        };

        W_2: W_2 {
            compatible = "zmk,behavior-hold-tap";
            label = "W_2";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <2>;
            tapping-term-ms = <250>;
        };

        E_3: E_3 {
            compatible = "zmk,behavior-hold-tap";
            label = "E_3";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <3>;
            tapping-term-ms = <250>;
        };

        R_4: R_4 {
            compatible = "zmk,behavior-hold-tap";
            label = "R_4";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <4>;
            tapping-term-ms = <250>;
        };

        A_6: A_6 {
            compatible = "zmk,behavior-hold-tap";
            label = "A_6";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            hold-trigger-key-positions = <13>;
        };

        S_7: S_7 {
            compatible = "zmk,behavior-hold-tap";
            label = "S_7";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            hold-trigger-key-positions = <14>;
        };

        D_8: D_8 {
            compatible = "zmk,behavior-hold-tap";
            label = "D_8";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            hold-trigger-key-positions = <15>;
        };

        F_9: F_9 {
            compatible = "zmk,behavior-hold-tap";
            label = "F_9";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            hold-trigger-key-positions = <16>;
        };

        G_0: G_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "G_0";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            hold-trigger-key-positions = <17>;
        };

        T_5: T_5 {
            compatible = "zmk,behavior-hold-tap";
            label = "T_5";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            hold-trigger-key-positions = <5>;
        };

        EXCL_QUEST: EXCL_QUEST {
            compatible = "zmk,behavior-hold-tap";
            label = "EXCL_QUEST";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <22>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y             &kp U               &kp I                       &kp O                        &kp P                      &none
&none  &kp A  &kp S  &kp D  &kp F  &kp G    &H_COMMA COMMA H  &J_PERIOD PERIOD J  &K_SINQUOTE SINGLE_QUOTE K  &L_DBLQUOTE DOUBLE_QUOTES L  &EXCL_QUEST EXCL QUESTION  &none
&none  &none  &none  &none  &none  &none    &none             &none               &none                       &none                        &none                      &none
                     &kp C  &kp V  &kp B    &kp SPACE         &kp N               &kp M
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL      &kp AT        &kp HASH        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp LBKT      &kp RIGHT_BRACKET  &kp ASTRK     &kp LPAR      &kp RPAR      &kp BSPC
&kp Z      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp NUMBER_4          &kp NUMBER_5             &kp NUMBER_6  &kp NUMBER_7       &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &kp GRAVE
&kp LSHFT  &trans        &trans        &trans          &trans                &trans                   &kp UNDER     &kp PLUS           &kp LBRC      &kp RBRC      &kp PIPE      &kp TILDE
                                       &bt BT_CLR_ALL  &bt BT_NXT            &kp SPACE                &kp RET       &trans             &kp RALT
            >;
        };
    };
};
