/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <9 10>;
        };

        Return {
            bindings = <&kp RET>;
            key-positions = <21 22>;
        };

        Spacebar {
            bindings = <&kp SPACE>;
            key-positions = <38 39>;
        };
    };

    behaviors {
        Jx2_N: Jx2_N {
            compatible = "zmk,behavior-tap-dance";
            label = "JX2_N";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp N>;

            tapping-term-ms = <800>;
        };

        Kx2_M: Kx2_M {
            compatible = "zmk,behavior-tap-dance";
            label = "KX2_M";
            #binding-cells = <0>;
            bindings = <&kp K>, <&kp M>;

            tapping-term-ms = <800>;
        };

        SPCx2_Period: SPCx2_Period {
            compatible = "zmk,behavior-tap-dance";
            label = "SPCX2_PERIOD";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&kp PERIOD>;

            tapping-term-ms = <800>;
        };

        Lx2_Comma: Lx2_Comma {
            compatible = "zmk,behavior-tap-dance";
            label = "LX2_COMMA";
            #binding-cells = <0>;
            bindings = <&kp L>, <&kp COMMA>;

            tapping-term-ms = <800>;
        };

        Ax2_Z: Ax2_Z {
            compatible = "zmk,behavior-tap-dance";
            label = "AX2_Z";
            #binding-cells = <0>;
            bindings = <&kp A>, <&kp Z>;

            tapping-term-ms = <800>;
        };

        Sx2_X: Sx2_X {
            compatible = "zmk,behavior-tap-dance";
            label = "SX2_X";
            #binding-cells = <0>;
            bindings = <&kp S>, <&kp X>;

            tapping-term-ms = <800>;
        };

        Dx2_C: Dx2_C {
            compatible = "zmk,behavior-tap-dance";
            label = "DX2_C";
            #binding-cells = <0>;
            bindings = <&kp D>, <&kp C>;

            tapping-term-ms = <800>;
        };

        Fx2_V: Fx2_V {
            compatible = "zmk,behavior-tap-dance";
            label = "FX2_V";
            #binding-cells = <0>;
            bindings = <&kp F>, <&kp V>;

            tapping-term-ms = <800>;
        };

        Gx2_B: Gx2_B {
            compatible = "zmk,behavior-tap-dance";
            label = "GX2_B";
            #binding-cells = <0>;
            bindings = <&kp G>, <&kp B>;

            tapping-term-ms = <800>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E           &kp R       &kp T    &kp Y  &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D           &kp F       &kp G    &kp H  &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C           &kp V       &kp B    &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &bt BT_CLR_ALL  &bt BT_NXT  &mo 1    &mo 1  &mo 1  &kp RET
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR    &kp RPAR   &kp BSPC
&kp Z      &kp Z     &kp X   &kp C     &kp V     &kp B        &kp N      &kp M     &kp COMMA  &kp PERIOD  &kp SLASH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS  &kp LBRC   &kp RBRC    &kp PIPE   &kp TILDE
                             &kp LGUI  &trans    &kp SPACE    &kp RET    &trans    &kp RALT
            >;
        };
    };
};
